.places {
  padding-top: 62px;
  padding-bottom: 64px;
}

.place {
  margin-bottom: 16px;
}

.place__title {
  min-width: 288px;
  max-width: 90%;
  margin: auto;
  width: 100%;

  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
}

.place__website {
  min-width: 288px;
  max-width: 90%;
  margin: 30px auto;
  width: 100%;
}

.place__url-heading {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaa;
  text-transform: uppercase;
}

.place__artist {
  margin: 9px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.place__image {
  object-fit: cover;
  max-height: 320px;
  width: 100%;
}

.place__paragraph {
  min-width: 288px;
  max-width: 90%;
  margin: 0 auto 7px;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.place__btn {
  display: block;
  min-width: 288px;
  min-height: 48px;
  max-width: 90%;
  margin: auto;
  width: 100%;

  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  border-radius: 4px;
  background-color: #0278fe;
  color: #fff;
  padding: 13px 20px;
}

@media screen and (min-width: 768px) {
  .places {
    padding-top: 88px;
  }

  .place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 340px auto;
    max-width: 720px;

    margin: 0 auto 46px;
    column-gap: 28px;
  }

  .place__title {
    margin: 0 0 48px;
    min-width: 340px;

    font-size: 42px;
    line-height: 46px;
  }

  .place__website {
    margin: 0 0 24px;
    min-width: 295px;
    align-self: flex-end;
  }

  .place__url-heading {
    margin: 0;
  }

  .place__artist {
    margin: 8px 0 0;
  }

  .place__image {
    max-width: 340px;
    max-height: 340px;
  }

  .place__paragraphs {
    max-width: 352px;

    display: flex;
    flex-direction: column;
    gap: 14px;
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
  }

  .place__paragraph {
    margin: 0;
  }

  .place__btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 355px;
    max-width: 100%;

    margin: 48px 0 0;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .places {
    padding-top: 92px;
    max-width: 987px;
    margin: auto;
  }

  .place {
    max-width: 984px;
    grid-template-rows: auto 460px auto;
    margin-bottom: 80px;
  }

  .place:last-child {
    margin-bottom: 0;
  }

  .place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;

    max-width: 460px;
  }

  .place__website {
    max-width: 456px;
    margin-bottom: 48px;
  }

  .place__url-heading {
    max-width: 58px;
  }

  .place__artist {
    max-width: 456px;
  }

  .place__image {
    max-width: 460px;
    max-height: 460px;
  }

  .place__paragraphs {
    font-size: 18px;
    line-height: 29px;
  }
}
