/* @font-face {
  font-family: "Inter";
  src: url(../vendor/fonts/Inter-Black.ttf) format("woff2");
  src: url(../vendor/fonts/Inter-Black.ttf) format("woff");
} */
@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/photo-grid.css);
@import url(../blocks/places.css);
@import url(../blocks/cover.css);
@import url(../blocks/footer.css);
